*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}
/*.stars{
    position: fixed;
    inset: 0;
    z-index: -3;
    pointer-events: none;

    background-image:
      radial-gradient(4px 4px at 10% 20%, olive, transparent),
      radial-gradient(5px 5px at 40% 70%, gold, transparent),
      radial-gradient(3px 3px at 80% 30%, white, transparent),
      radial-gradient(6px 6px at 60% 10%, pink, transparent),
      radial-gradient(4px 4px at 20% 90%, wheat, transparent),
      radial-gradient(5px 5px at 90% 60%, chocolate, transparent);

    background-size:
      120px 120px,
      180px 180px,
      90px 90px,
      200px 200px,
      140px 140px,
      160px 160px;

    animation:
      drift1 6s linear infinite,
      drift2 3s linear infinite,
      drift3 2s linear infinite;
    
    filter: drop-shadow(0 0 10px wheat);
}  */

/*  DIFFERENT RANDOM MOTIONS */
/* @keyframes drift1{
    from{ background-position: 0 0, 0 0, 0 0, 0 0, 0 0, 0 0; }
    to  { background-position: 120px 260px, -200px 140px, 80px -160px, -150px 300px, 60px -240px, -90px 180px; }
}

@keyframes drift2{
    from{ background-position: 0 0, 0 0, 0 0, 0 0, 0 0, 0 0; }
    to  { background-position: -160px 120px, 220px -180px, -90px 200px, 300px -140px, -200px 90px, 140px -260px; }
}

@keyframes drift3{
    from{ background-position: 0 0, 0 0, 0 0, 0 0, 0 0, 0 0; }
    to  { background-position: 200px -200px, -120px 260px, 260px 120px, -240px -180px, 180px 200px, -300px 140px; }
}  */

body{
height:100vh;
background-image: url("https://www.shutterstock.com/image-photo/blurred-background-vibrant-scene-showcasing-600nw-2577243207.jpg");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}

/* Dark overlay */
.overlay{
    height:100vh;
    background:rgba(0,0,0,0.5);
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

.content h2{
    font-size:30px;
}

.content h1{
    font-size:55px;
    margin:15px 0;
}

.content p{
    font-size:20px;
    margin-bottom:30px;
}
 .content{
    color:white;
    display: inline-block;
    animation: floatGlow 2.5s ease-in-out infinite;
}

@keyframes floatGlow {
     0% {
    transform: translateY(0);
    text-shadow: 0 0 5px lightseagreen;
  }
  25%{
    transform:translate(1px);
    text-shadow:0 0 5px deeppink;
  }
  50% {
    transform: translateY(-6px);
    text-shadow: 0 0 20px gold;
  }
  75%{
    transform:translate(-2px);
    text-shadow:0 0 15px darkmagenta;
  }
  100% {
    transform: translateY(0);
    text-shadow: 0 0 5px darksalmon;
  }
}

/* Buttons */

.buttons{
    display:flex;
    justify-content:center;
    gap:20px;
}

.btn{
    text-decoration:none;
    padding:15px 35px;
    font-size:18px;
    border-radius:8px;
    transition:0.3s;
}

.register{
    background:burlywood;
    color:black;
}

.login{
    background:olive;
    color:black;
}

.btn:hover{
    transform:scale(1.05);
}